---
http_interactions:
- request:
    method: get
    uri: https://api.callrail.com/v3/a/asdf/form_submissions.json?company_id=COMdcdc6f0d953941e8bebbd8bf22a03662&date_range=recent&fields=form_name&page=1&per_page=100&sorting=submitted_at
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=asdf
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"046244f454f9c2a4732d989d37b9a3da"
    body:
      encoding: UTF-8
      string: '{"page":1,"per_page":100,"total_pages":1,"total_records":15,"form_submissions":[{"id":"FRM248da90eb6c24a67b4e9ad20f5ee2de8","company_id":"COMdcdc6f0d953941e8bebbd8bf22a03662","person_id":"PER663794c3b135494fb278244b6518ed9d","form_data":{"your_name":"asoeith","email_address":"ian@asdf.com","phone_number":"555-123-4568","message":"asdf"},"form_url":"https://ian-dev.chiirp.com/integrations/callrail/v3","landing_page_url":"https://ian-dev.chiirp.com/integrations/callrail/v3","referrer":"ian-dev.chiirp.com","referring_url":"https://ian-dev.chiirp.com/integrations","submitted_at":"2023-01-27T15:58:03.394-05:00","first_form":false,"customer_phone_number":"","customer_name":"ASOEITH","formatted_customer_phone_number":"(Not
        Available)","formatted_customer_name":"Asoeith","source":"ian-dev.chiirp.com","keywords":null,"campaign":null,"medium":"Referral","form_name":"Address Form Test"},{"id":"FRM28d4c06a307a422ea3fe2c1b98eaf160","company_id":"COMdcdc6f0d953941e8bebbd8bf22a03662","person_id":"PER2d49213b38f54d938390b56180dde95d","form_data":{"your_name":"sam
        wade","email_address":"you@example.com","phone_number":"555-555-5555","message":"testig~!"},"form_url":"https://js.callrail.com/forms/FORd3749ff49f37424a9de282c614b9199c/direct","landing_page_url":"https://js.callrail.com/forms/FORd3749ff49f37424a9de282c614b9199c/direct","referrer":"https://app.[...]
